@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


$glass-bg: #eff1f0;
$card-bg: #7db122;
$text-color: #524e54;
$price-text-color: #7db122;
$main-font: 'Open Sans',
sans-serif;

.glass-item {
    width: 235px;
    height: 320px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px #eeeeee;
    z-index: 0;  
    margin-top: 27px;

    .fligth-block {
        &.left {
            background: url('/Shop/account/templates/account/asserttemplates/account/assert/glas-list/green-fligth.png')
            center no-repeat;
            position: absolute;
            z-index: 999999;
            top: -1%;
            left: -2%;
            width: 98px;
            height: 94px;
        } 

        &.rigth {
            background: url('/Shop/account/templates/account/asserttemplates/account/assert/glas-list/blue-fligth.png')
            center no-repeat;
            position: absolute;
            z-index: 999999;          
            top: -1%;
            left: 60%;
            width: 98px;
            height: 94px;
        } 
    }

    .img-block {
        width: 218px;
        height: 230px;
        background-color: $glass-bg;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .buy-block {
        margin: 0 auto;
        width: 210px;
        display: flex;
        justify-content: space-between;
        flex-grow: 0.4;

        .info-price {
            line-height: 1.3;

            .info {
                @include text-styles(
                    $main-font,
                    14px,
                    400,
                    #5f5a60, 
                    none); 
            }
            .sale-price {
                height: 21px;
                display: flex;
            }
            .sale {
                @include text-styles(
                    $main-font,
                    12px,
                    400,
                    #5f5a60,
                    none);
                text-decoration: line-through;
                align-self: flex-end;
            }
            .price {
                @include text-styles($main-font,
                    18px,
                    400,
                    $price-text-color,
                    none);
                text-align: justify;
                vertical-align: sub;
            }
        }

        .card-img {
            @include circle-icon(
                48px,
                $card-bg
            );
        }
    }
}

.hiden {
    visibility: hidden;
}
