{% load static %}
<div class="footer">
        <div class="footer-head-container">
            <div class="container">
                <div class="footer-head">
                    <div class="footer-head-block">
                        <div class="footer-head-img">
                           <img src="{% static 'product/assert/footer/car.png' %}" alt="">
                        </div>
                        <p class="footer-head-img-text">
                            Free shipping on orders over $100
                        </p>
                    </div>
                    <div class="footer-head-block">
                        <div class="footer-head-img">
                            <img src="{% static 'product/assert/footer/phone.png' %}" alt="">
                        </div>
                        <p class="footer-head-img-text">
                            call us! toLl free- 409-8888-0099
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-body-container">
            <div class="container">
                <div class="footer-body">
                    <div class="facebook">
                        <h4 class="footer-body-title">
                            facebook
                        </h4>
                        <p class="facebook-members">
                            20000 Members
                        </p>
                        <a href="#" class="facebook-like">
                            <img src="{% static 'product/assert/footer/like.png' %}" alt="">
                        </a>
                        <div class="facebook-photos">
                            <img src="{% static 'product/assert/footer/photo.png' %}" alt="">
                            <img src="{% static 'product/assert/footer/photo.png' %}" alt="">
                            <img src="{% static 'product/assert/footer/photo.png' %}" alt="">
                            <img src="{% static 'product/assert/footer/photo.png' %}" alt="">
                            <img src="{% static 'product/assert/footer/photo.png' %}" alt="">
                            <img src="{% static 'product/assert/footer/photo.png' %}" alt="">
                            <img src="{% static 'product/assert/footer/photo.png' %}" alt="">
                            <img src="{% static 'product/assert/footer/photo.png' %}" alt="">
                        </div>
                        <p class="facebook-info">
                            facebook Social plugin
                        </p>
                    </div>
                    <!--/.facebook-->
                    <div class="twitter">
                        <h4 class="footer-body-title">
                            from twitter
                        </h4>
                        <div class="twiiter-body">
                            <div class="twitter-body-item">
                                <div class="twitter-body-icon">
                                    <img src="{% static 'product/assert/footer/twitter.png' %}" alt="">

                                </div>
                                <p class="twitter-body-text">
                                    Lorem Ipsum is simply dummy text of the printing and <span> typesetting industry.
                                        Lorem Ipsum</span> has been the
                                </p>
                            </div>
                            <div class="twitter-body-item">
                                <div class="twitter-body-icon">
                                    <img src="{% static 'product/assert/footer/twitter.png' %}" alt="">
                                </div>
                                <p class="twitter-body-text">
                                    Lorem Ipsum is simply dummy text of the printing and <span> typesetting industry.
                                        Lorem Ipsum</span> has been the
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--twitter-->
                    <div class="info">
                        <h4 class="footer-body-title">
                            information
                        </h4>
                        <div class="info-item">
                            <img src="{% static 'product/assert/footer/li-arrow.png' %}" alt="">

                            <p class="info-text"> Sed ultrices</p>
                        </div>
                        <div class="info-item">
                            <img src="{% static 'product/assert/footer/li-arrow.png' %}" alt="">
                            <p class="info-text">
                                sodales sodales.
                            </p>
                        </div>
                        <div class="info-item">
                            <img src="{% static 'product/assert/footer/li-arrow.png' %}" alt="">
                            <p class="info-text">
                                Curabitur pretium dui vitae.</p>
                        </div>
                        <div class="info-item">
                            <img src="{% static 'product/assert/footer/li-arrow.png' %}" alt="">
                            <p class="info-text"> Donec gravida mi in nisl</p>
                        </div>
                        <div class="info-item">
                            <img src="{% static 'product/assert/footer/li-arrow.png' %}" alt="">
                            <p class="info-text">faucibus leo condimentum.</p>
                        </div>
                        <div class="info-item">
                            <img src="{% static 'product/assert/footer/li-arrow.png' %}" alt="">
                            <p class="info-text"> faucibus leo</p>
                        </div>
                    </div>
                    <!--/.info-->
                    <div class="contact">
                        <h4 class="footer-body-title">
                            information
                        </h4>
                        <ul>
                            <li>Leo Store</li>
                            <li>Leopards media</li>
                            <li>Leopards media</li>
                            <li>+1 489-8888-0099</li>
                            <li>mail@email.com</li>
                        </ul>
                        <div class="social-links">

                            <div class="link"><img src="{% static 'product/assert/footer/google.png' %}" alt=""></div>
                            <div class="link"><img src="{% static 'product/assert/footer/in.png' %}" alt=""></div>
                            <div class="link"><img src="{% static 'product/assert/footer/wi.png' %}" alt=""></div>
                            <div class="link"><img src="{% static 'product/assert/footer/facebook.png' %}" alt=""></div>
                        </div>
                    </div>
                    <!--/.contact-->
                </div>
            </div>
        </div>
        <div class="footer-footer">
            <div class="container">
                <div class="footer-footer-items">
                    <div class="left-block">
                        <p>
                            © Copyright 2013 Css Author, All Rights Reserved.
                        </p>
                    </div>
                    <div class="rigth-block">
                        <div class="block-items">
                            <p>
                                About Us
                            </p>
                            <p>
                                Delivery & Returns
                            </p>
                            <p>
                                Terms & Conditions
                            </p>
                            <p>
                                Contact Us
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.footer-->