<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="./style.css"/>
    <title>Document</title>
</head>
<body>
<section class="section_logo">
    <div class="container">
        <div class="header_logo">
            <div class="nav">
                <div class="logo">LEO SHOP</div>
                <a class="nav_link" href="#">HOME</a>
                <a class="nav_link" href="#">WOMEN</a>
                <a class="nav_link" href="#">MEN</a>
                <a class="nav_link" href="#">OTHER</a>
                <a class="nav_link" href="#">PURCHASE</a>
            </div>
            <div class="search">
                <div class="search_block">
                    <input class="poisk" name="search" placeholder="Search.." type="search"/>
                    <button class="lupa"><i class="fas fa-search"></i></button>
                </div>

                <div class="icon_buttons">
                    <div class="icon_block">
                        <div class="ring">
                            <a class="icon"><i class="fas fa-tags"></i></a>
                        </div>
                        <div class="ring">
                            <a class="icon"><i class="fas fa-shopping-basket"></i></a>
                        </div>
                    </div>
                    <div class="cart">
                        <span class="product-count">Корзина(1)</span>
                        <div class="cart__popup">
                            <ul class="cart-list"></ul>
                            <div class="cart-footer">
                                <div class="send-button" >Оформить заказ</div>
                                <div class="clear-button">Очистить корзину</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="banner">
    <div class="left_but"><a class="prev_but"></a></div>
    <div class="container">
        <div class="banner_content">
            <div class="banner_text_top">
                <a class="top_text">Aluminum club</a>
            </div>
            <div class="banner_text_bot">
                <a class="bot_text">experience ray-ban</a>
            </div>
        </div>
    </div>
    <div class="right_but"><a class="next_but"></a></div>
</section>

</body>
</html>
